{% extends "base.html" %}
{% block body %}
  <div class="account__login">
    <h2 class="account__login--header__title h1 mb-10">Login</h2>
    <div class="account__login--header mb-25">
      <p class="account__login--header__desc">Login if you are a returning customer.</p>
    </div>
    <div class="account__login--inner">
      <form method="POST">
        {{ login_form.csrf_token }}
        <label>
          {{ login_form.entity.label }}
          {{ login_form.entity(class_="account__login--input", placeholder="Username or Email address") }}
        </label>
        <label>
          {{ login_form.password.label }}
          {{ login_form.password(class_="account__login--input", placeholder="Password") }}
        </label>
        <div class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center">
          <div class="account__login--remember position__relative">
            {{ login_form.remember_me(class_="checkout__checkbox--input", id="remember") }}
            <span class="checkout__checkbox--checkmark">
              <label class="checkout__checkbox--label login__remember--label" for="remember">
                {{ login_form.remember_me.label }}
              </label>
            </span>
          </div>
          <a href="{{ url_for('auth.reset_password_request') }}" class="account__login--forgot">
            Forgot Your Password?
          </a>
        </div>
        <button class="account__login--btn btn" type="submit">Login</button>
        <div class="account__login--divide">
          <span class="account__login--divide__text">OR</span>
        </div>
        <div class="account__social d-flex justify-content-center mb-15">
          <a class="account__social--link facebook" target="_blank" href="https://www.facebook.com">
            Facebook
          </a>
          <a class="account__social--link google" target="_blank" href="https://www.google.com">
            Google
          </a>
          <a class="account__social--link twitter" target="_blank" href="https://twitter.com">
            Twitter
          </a>
        </div>
        <p class="account__login--signup__text">Don't Have an Account?
          <a href="{{ url_for('auth.register') }}">Sign up now</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
