{% if featured_products.all() %}
  <section class="product__section product__section--style3 section--padding">
    <div class="container product3__section--container">
      <div class="section__heading3 mb-35">
        <h2 class="section__heading3--maintitle">Featured Products</h2>
      </div>
      <div class="product__section--inner product3__section--inner__padding product__section--style3__inner product__swiper--activation swiper">
        <div class="swiper-wrapper">
          {% for product in featured_products.all() %}
            <div class="swiper-slide">
              <div class="product__items product__items2">
                <div class="product__items--thumbnail">
                  <a class="product__items--link" href="#">
                    <img class="product__items--img product__primary--img" src="{{ url_for('static', filename=product.images.first().image_url) }}" alt="product-img">
                    <img class="product__items--img product__secondary--img" src="{{ url_for('static', filename=product.images.first().image_url) }}" alt="product-img">
                  </a>
                  {% if product.sale_price %}
                    <div class="product__badge">
                      <span class="product__badge--items sale">Sale</span>
                    </div>
                  {% endif %}
                  <ul class="product__items--action">
                    {% if current_user.is_authenticated %}
                      <li class="product__items--action__list">
                        <a class="product__items--action__btn" href="{{ url_for('user.add_wishlist', product_id=product.id) }}">
                          <i class="product__items--action__btn--svg bi bi-heart"></i>
                          <span class="visually-hidden">Wishlist</span>
                        </a>
                      </li>
                    {% endif %}
                    <li class="product__items--action__list">
                      <a class="product__items--action__btn" data-open="modal1" href="#">
                        <i class="product__items--action__btn--svg bi bi-search"></i>
                        <span class="visually-hidden">Quick View</span>
                      </a>
                    </li>
                    {% if False %}
                      <li class="product__items--action__list">
                        <a class="product__items--action__btn" href="#">
                          <i class="product__items--action__btn--svg bi bi-arrow-left-right"></i>
                          <span class="visually-hidden">Compare</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
                <div class="product__items--content product__items2--content text-center">
                  {% if current_user.is_authenticated %}
                    <a class="add__to--cart__btn" href="{{ url_for('user.add_cart', product_id=product.id, quantity=1) }}">+ Add to cart</a>
                  {% endif %}
                  <h3 class="product__items--content__title h4"><a href="#">
                    {{ product.name }}
                  </a></h3>
                  <div class="product__items--price">
                    <span class="current__price">{{ product.price }} €</span>
                    {% if product.sale_price %}
                      <span class="old__price">{{ product.sale_price }} €</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper__nav--btn swiper-button-next" style="color: white">
          <i class="bi bi-chevron-right svg__icon"></i>
        </div>
        <div class="swiper__nav--btn swiper-button-prev" style="color: white">
          <i class="bi bi-chevron-left svg__icon"></i>
        </div>
      </div>
    </div>
  </section>
{% endif %}
