<section class="product__section product__section--style3 section--padding">
  <div class="container product3__section--container">
    <div class="section__heading3 mb-35">
      <h2 class="section__heading3--maintitle">Featured Products</h2>
    </div>
    <div class="product__section--inner product3__section--inner__padding product__section--style3__inner product__swiper--activation swiper">
      <div class="swiper-wrapper">
        {% for product in products %}
          <div class="swiper-slide">
            <div class="product__items product__items2">
              <div class="product__items--thumbnail">
                <a class="product__items--link" href="#">
                  <img class="product__items--img product__primary--img" src="{{ url_for('static', filename=product.images.first().image_url) }}" alt="product-img">
                  <img class="product__items--img product__secondary--img" src="{{ url_for('static', filename=product.images.first().image_url) }}" alt="product-img">
                </a>
                {% if product.sale_price %}
                  <div class="product__badge">
                    <span class="product__badge--items sale">Sale</span>
                  </div>
                {% endif %}
                <ul class="product__items--action">
                  {% if current_user.is_authenticated %}
                    <li class="product__items--action__list">
                      <a class="product__items--action__btn" href="#">
                        <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                        <span class="visually-hidden">Wishlist</span> 
                      </a>
                    </li>
                  {% endif %}
                  <li class="product__items--action__list">
                    <a class="product__items--action__btn" data-open="modal1" href="#">
                      <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>
                      <span class="visually-hidden">Quick View</span>   
                    </a>
                  </li>
                  {% if False %}
                    <li class="product__items--action__list">
                      <a class="product__items--action__btn" href="#">
                        <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M400 304l48 48-48 48M400 112l48 48-48 48M64 352h85.19a80 80 0 0066.56-35.62L256 256"/><path d="M64 160h85.19a80 80 0 0166.56 35.62l80.5 120.76A80 80 0 00362.81 352H416M416 160h-53.19a80 80 0 00-66.56 35.62L288 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                        <span class="visually-hidden">Compare</span>  
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
              <div class="product__items--content product__items2--content text-center">
                {% if current_user.is_authenticated %}
                  <a class="add__to--cart__btn" onclick="updateQuantity({{ product.id }})">+ Add to cart</a>
                {% endif %}
                <h3 class="product__items--content__title h4"><a href="#">
                  {{ product.name }}
                </a></h3>
                <div class="product__items--price">
                  <span class="current__price">{{ product.price }} €</span>
                  {% if product.sale_price %}
                    <span class="old__price">{{ product.sale_price }} €</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper__nav--btn swiper-button-next" style="color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </div>
      <div class="swiper__nav--btn swiper-button-prev" style="color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </div>
    </div>
  </div>
</section>