<header class="header__section header__transparent">
  {% if g.config.countdown %}
    <div class="header__topbar bg__primary">
      <div class="container">
        <div class="header__topbar--inner d-flex align-items-center justify-content-center">
          <div class="header__shipping">
            <p class="header__shipping--text text-white">
              Claim your online FREE Delivery or Shipping today! Expires in
            </p>
          </div>
          <div class="header__topbar--countdown d-flex" data-countdown="Sep 30, 2022 00:00:00"></div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="main__header header__sticky">
    <div class="container">
      <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
        <!-- side menu togle small screen-->
        <div class="offcanvas__header--menu__open">
          <a class="offcanvas__header--menu__open--btn" data-offcanvas>
            <i class="offcanvas__header--menu__open--svg bi bi-list"></i>
          </a>
        </div>
        <div class="main__logo">
          <h1 class="main__logo--title">
            <a class="main__logo--link" href="{{ url_for('main.index') }}">
              <img class="main__logo--img" src="{{ url_for('static', filename='uploads/general/logo.png') }}"
                alt="logo-img">
            </a>
          </h1>
        </div>
        <div class="header__search--widget d-none d-lg-block header__sticky--none">
          <!-- Search Form -->
          {% if g.search_form %}
            <form class="d-flex header__search--form" action="{{ url_for('main.product_search') }}">
              <div class="header__select--categories">
                <select class="header__select--inner">
                  <option selected="selected">Select Categories</option>
                  {% for category in categories.all() %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="header__search--box">
                <label>
                  {{ g.search_form.q(size=20,
                    class='header__search--input',
                    placeholder=g.search_form.q.label.text) }}
                </label>
                <button class="header__search--button bg__secondary text-white" type="submit">Search</button>
              </div>
            </form>
          {% endif %}
        </div>
        <div class="header__menu d-none d-lg-block header__sticky--block">
          <nav class="header__menu--navigation" aria-label>
            <ul class="d-flex">
              {% for key, value in g.config.NAVIGATION.items() %}
                {% if value is not mapping %}
                  <li class="header__menu--items">
                    <a class="header__menu--link" href="{{ value }}">
                      {{ key }}
                    </a>
                  </li>
                {% else %}
                  <li class="header__menu--items">
                    <a class="header__menu--link">{{ key }}
                      <i class="menu__arrowdown--icon bi bi-chevron-down"></i>
                    </a>
                    <ul class="header__sub--menu">
                      {% for subkey, subvalue in value.items() %}
                        <li class="header__sub--menu__items">
                          <a href="{{ subvalue }}" class="header__sub--menu__link">
                            {{ subkey }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="header__account header__sticky--none">
          <ul class="d-flex">
            <!-- search button small screen header -->
            <li class="header__account--items  header__account--search__items mobile__d--block d-sm-2-none">
              <a class="header__account--btn search__open--btn" data-offcanvas>
                <i class="product__items--action__btn--svg bi bi-search"></i>
                <span class="visually-hidden">Search</span>
              </a>
            </li>
            {% if current_user.is_authenticated %}
              <!-- account button -->
              <li class="header__account--items">
                <a class="header__account--btn" href="{{ url_for('user.user') }}">
                  <i class="svg__icon bi bi-person"></i>
                  <span class="visually-hidden">My account</span>
                </a>
              </li>
              <!-- cart button -->
              <li class="header__account--items">
                <a class="header__account--btn minicart__open--btn" data-offcanvas>
                  <i class="svg__icon bi bi-cart"></i>
                  <span class="cart items__count">{{ current_user.cart.quantity }}</span>
                </a>
              </li>
              <!-- wishlist button -->
              <li class="header__account--items d-none d-lg-block">
                <a class="header__account--btn" href="{{ url_for('user.wishlist') }}">
                  <i class="svg__icon bi bi-heart-fill"></i>
                  <span class="wishlist items__count">{{ current_user.cart.cart_products.all()|length }}</span>
                </a>
              </li>
            {% else %}
              <!-- login button -->
              <li class="header__account--items">
                <a class="header__account--btn" href="{{ url_for('auth.login') }}">
                  <i class="svg__icon bi bi-bot-arrow-in-left"></i>
                  <span class="visually-hidden">Login</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="header__account header__sticky--block">
          <ul class="d-flex">
            <li class="header__account--items  header__account--search__items d-sm-2-none">
              <a class="header__account--btn search__open--btn" data-offcanvas>
                <i class="product__items--action__btn--svg bi bi-search"></i>
                <span class="visually-hidden">Search</span>
              </a>
            </li>
            <li class="header__account--items d-none d-lg-block">
              <a class="header__account--btn" href="{{ url_for('user.wishlist') }}">
                <i class="product__items--action__btn--svg bi bi-heart-fill"></i>
              </a>
            </li>
            <li class="header__account--items d-none d-lg-block">
              <a class="header__account--btn" href="{{ url_for('user.user') }}">
                <i class="svg__icon bi bi-person"></i>
                <span class="visually-hidden">My account</span>
              </a>
            </li>
            {% if current_user.is_authenticated %}
              <li class="header__account--items">
                <a class="header__account--btn minicart__open--btn" data-offcanvas>
                  <i class="svg__icon bi bi-cart"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom bg__secondary">
    <div class="container">
      <div class="header__bottom--inner position__relative d-flex align-items-center">
        <div class="categories__menu">
          <div class="categories__menu--header text-white d-flex align-items-center">
            <i class="categories__list--icon bi bi-list"></i>
            {% if categories.all() %}
              <span class="categories__menu--title">All Categories</span>
              <i class="categories__arrowdown--icon svg__icon bi bi-chevron-down"></i>
            {% else %}
              <span class="categories__menu--title">Categories Are Empty</span>
            {% endif %}
          </div>
          <div class="dropdown__categories--menu">
            <!-- dropdown categories big screen -->
            <ul class="d-none d-lg-block">
              {% for category in categories.all() %}
                <li class="categories__menu--items">
                  <a class="categories__menu--link" href="{{ url_for('main.category', category_id=category.id) }}">
                    <i class="categories__menu--svgicon bi bi-tag"></i>{{ category.name }}
                    {% if category.subcategories %}
                      <i class="categories__menu--right__arrow--icon bi bi-chevron-right svg__icon"></i>
                    {% endif %}
                  </a>
                  {% if category.subcategories %}
                    <ul class="categories__submenu border-radius-10 d-flex justify-content-between">
                      {% for subcategory in category.subcategories %}
                        <li class="categories__submenu--items"><a class="categories__submenu--items__text" href="{{ url_for('main.subcategory', subcategory_id=subcategory.id) }}"><strong>{{ subcategory.name }}</strong></a>
                          {% if subcategory.products %}
                            {% for product in subcategory.products %}
                              <ul class="categories__submenu--child">
                                <li class="categories__submenu--child__items"><a class="categories__submenu--child__items--link" href="{{ url_for('main.product', product_id=product.id) }}">{{ product.name }}</a></li>
                              </ul>
                            {% endfor %}
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <!-- dropdown categories small screen -->
            <nav class="category__mobile--menu" aria-label>
              <ul class="category__mobile--menu_ul">
                {% for category in categories.all() %}
                  <li class="categories__menu--items">
                    <a class="categories__menu--link" href="{{ url_for('main.category', category_id=category.id) }}">
                      <i class="categories__menu--svgicon bi bi-tag"></i>{{ category.name }}
                    </a>
                    {% if category.subcategories %}
                      <ul class="category__sub--menu">
                        {% for subcategory in category.subcategories %}
                          <li class="categories__submenu--items">
                            <a class="categories__submenu--items__text"
                              href="{{ url_for('main.subcategory', subcategory_id=subcategory.id) }}">
                              {{ subcategory.name }}
                            </a>
                            {% if subcategory.products %}
                              <ul class="category__sub--menu">
                                {% for product in subcategory.products %}
                                  <li class="categories__submenu--child__items">
                                    <a class="categories__submenu--child__items--link"
                                      href="{{ url_for('main.product', product_id=product.id) }}">
                                      {{ product.name }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>

        <!-- navbar when screen big -->
        <div class="header__right--area d-flex justify-content-between align-items-center">
          <div class="header__menu">
            <nav class="header__menu--navigation" aria-label>
              <ul class="d-flex">
                {% for key, value in g.config['NAVIGATION'].items() %}
                  {% if value is mapping %}
                    <li class="header__menu--items">
                      <a class="header__menu--link text-white">{{ key }}
                        <i class="menu__arrowdown--icon bi bi-chevron-down"></i>
                      </a>
                      <ul class="header__sub--menu">
                        {% for subkey, subvalue in value.items() %}
                          <li class="header__sub--menu__items"><a href="{{ url_for(subvalue) }}" class="header__sub--menu__link">{{ subkey }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% elif key == "Shop" %}
                    <li class="header__menu--items mega__menu--items">
                      <a class="header__menu--link text-white" href="{{ url_for(value) }}">{{ key }}
                        <i class="menu__arrowdown--icon bi bi-chevron-down"></i>
                      </a>
                      <ul class="header__mega--menu d-flex">
                        {% for category in categories.all() %}
                          <li class="header__mega--menu__li">
                            <span class="header__mega--subtitle">{{ category.name }}</span>
                            <ul class="header__mega--sub__menu">
                              {% for subcategory in category.subcategories %}
                                <li class="header__mega--sub__menu_li">
                                  <a class="header__mega--sub__menu--title"
                                    href="{{ url_for('main.subcategory', subcategory_id=subcategory.id) }}">
                                    {{ subcategory.name }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="header__menu--items">
                      <a class="header__menu--link text-white" href="{{ url_for(value) }}">{{ key }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
          <div class="header__right--info d-flex align-items-center">
            <div class="account__currency">
              <a class="account__currency--link text-white">
                <span>USD</span>
                <i class="menu__arrowdown--icon bi bi-chevron-down"></i>
              </a>
              <div class="dropdown__currency">
                <ul>
                  <li class="currency__items"><a class="currency__text" href="#">CAD</a></li>
                  <li class="currency__items"><a class="currency__text" href="#">CNY</a></li>
                  <li class="currency__items"><a class="currency__text" href="#">EUR</a></li>
                  <li class="currency__items"><a class="currency__text" href="#">GBP</a></li>
                </ul>
              </div>
            </div>
            <div class="suport__contact d-flex align-items-center">
              <i class="suport__contact--icon text-white bi bi-telephone svg__icon"></i>
              <p class="suport__contact--text text-white">
                <span class="suport__text--24">24/7 Suport</span>
                <a class="suport__contact--number" href="tel:09786542214">09 7865 42214</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- navbar when screen small -->
  <div class="offcanvas__header">
    <div class="offcanvas__inner">
      <button class="offcanvas__close--btn" data-offcanvas></button>
      <div class="offcanvas__logo">
        <a class="offcanvas__logo_link" href="{{ url_for('main.index') }}">
          <img src="{{ url_for('static', filename='uploads/general/logo.png') }}" alt="Logo">
        </a>
      </div>
      <nav class="offcanvas__menu" aria-label>
        <ul class="offcanvas__menu_ul">
          {% for key, value in g.config.NAVIGATION.items() %}
            {% if value is mapping %}
              <li class="offcanvas__menu_li">
                <a class="offcanvas__menu_item">{{ key }}</a>
                <ul class="offcanvas__sub_menu">
                  {% for subkey, subvalue in value.items() %}
                    <li class="offcanvas__sub_menu_li">
                      <a class="offcanvas__sub_menu_item" href="{{ url_for(subvalue) }}">{{ subkey }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% elif key == "Shop" %}
              <li class="offcanvas__menu_li">
                  <a class="offcanvas__menu_item" href="{{ url_for(value) }}">{{ key }}</a>
                  <ul class="offcanvas__sub_menu">
                    {% for category in categories.all() %}
                      <li class="offcanvas__sub_menu_li">
                        {% if category.subcategories %}
                          <a class="offcanvas__sub_menu_item"
                            href="{{ url_for('main.category', category_id=category.id) }}">
                            {{ category.name }}
                          </a>
                          <ul class="offcanvas__sub_menu">
                            {% for subcategory in category.subcategories %}
                              <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item"
                                  href="{{ url_for('main.subcategory', subcategory_id=subcategory.id) }}">
                                  {{ subcategory.name }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% else %}
                          <a class="offcanvas__sub_menu_item" href="{{ url_for(value) }}">
                            {{ category.name }}
                          </a>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
              </li>
            {% else %}
              <li class="offcanvas__menu_li">
                <a class="offcanvas__menu_item" href="{{ url_for(value) }}">{{ key }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <!-- login logout register buttons small-->
        <div class="offcanvas__account--items">
          {% if current_user.is_authenticated %}
            <a class="offcanvas__account--items__btn d-flex align-items-center"
              href="{{ url_for('auth.logout') }}">
              <span class="offcanvas__account--items__icon bi bi-box-arrow-right"></span>
              <span class="offcanvas__account--items__label">Logout</span>
            </a>
          {% else %}
            <a class="offcanvas__account--items__btn d-flex align-items-center"
              href="{{ url_for('auth.login') }}">
              <span class="offcanvas__account--items__icon">
                <i class="offcanvas__account--items__icon bi bi-box-arrow-right"></i>
              </span>
              <span class="offcanvas__account--items__label">Login</span>
            </a>
            <br>
            <a class="offcanvas__account--items__btn d-flex align-items-center" href="{{ url_for('auth.register') }}">
              <span class="offcanvas__account--items__icon">
                <i class="offcanvas__account--items__icon bi bi-person-plus-fill"></span>
              </span>
              <span class="offcanvas__account--items__label">Register</span>
            </a>
          {% endif %}
        </div>
        <div class="offcanvas__account--currency">
          <a class="offcanvas__account--currency__menu text-black">
            <span>USD</span>
          </a>
          <div class="offcanvas__account--currency__submenu">
            <ul>
              <li class="currency__items"><a class="currency__text" href="#">CAD</a></li>
              <li class="currency__items"><a class="currency__text" href="#">CNY</a></li>
              <li class="currency__items"><a class="currency__text" href="#">EUR</a></li>
              <li class="currency__items"><a class="currency__text" href="#">GBP</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- End Offcanvas header menu -->

  <!-- Start Offcanvas stikcy toolbar -->
  <div class="offcanvas__stikcy--toolbar">
    <ul class="d-flex justify-content-between">
      <li class="offcanvas__stikcy--toolbar__list">
        <a class="offcanvas__stikcy--toolbar__btn" href="{{ url_for('main.index') }}">
        <span class="offcanvas__stikcy--toolbar__icon">
          <i class="bi bi-house svg__icon"></i>
          </span>
          <span class="offcanvas__stikcy--toolbar__label">Home</span>
        </a>
      </li>
      <li class="offcanvas__stikcy--toolbar__list">
        <a class="offcanvas__stikcy--toolbar__btn" href="{{ url_for('main.products') }}">
        <span class="offcanvas__stikcy--toolbar__icon">
          <i class="bi bi-bag svg__icon"></i>
          </span>
        <span class="offcanvas__stikcy--toolbar__label">Shop</span>
        </a>
      </li>
      <li class="offcanvas__stikcy--toolbar__list ">
        <a class="offcanvas__stikcy--toolbar__btn search__open--btn" data-offcanvas>
          <span class="offcanvas__stikcy--toolbar__icon">
          <i class="bi bi-search svg__icon"></i>
          </span>
        <span class="offcanvas__stikcy--toolbar__label">Search</span>
        </a>
      </li>
      {% if current_user.is_authenticated %}
        <!-- cart bottom screen small-->
        <li class="offcanvas__stikcy--toolbar__list">
          <a class="offcanvas__stikcy--toolbar__btn minicart__open--btn" data-offcanvas>
            <span class="offcanvas__stikcy--toolbar__icon">
              <i class="bi bi-cart svg__icon"></i>
            </span>
            <span class="offcanvas__stikcy--toolbar__label">Cart</span>
            <span class="cart items__count">{{ current_user.cart.quantity }}</span>
          </a>
        </li>
        <!-- wishlist bottom scren small -->
        <li class="offcanvas__stikcy--toolbar__list">
          <a class="offcanvas__stikcy--toolbar__btn" href="{{ url_for('user.wishlist') }}">
            <span class="offcanvas__stikcy--toolbar__icon">
              <i class="bi bi-heart-fill svg__icon"></i>
            </span>
            <span class="offcanvas__stikcy--toolbar__label">Wishlist</span>
            <span class="wishlist items__count">{{ current_user.wishlist.products|length }}</span>
          </a>
        </li>
      {% else %}
        <!-- login bottom scren small -->
        <li class="offcanvas__stikcy--toolbar__list">
          <a class="offcanvas__stikcy--toolbar__btn" href="{{ url_for('auth.login') }}">
            <span class="offcanvas__stikcy--toolbar__icon">
              <i class="bi bi-arrow-in-right svg__icon"></i>
            </span>
            <span class="offcanvas__stikcy--toolbar__label">Login</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
  <!-- End Offcanvas stikcy toolbar -->

  <!-- Start offCanvas minicart -->
  {% if current_user.is_authenticated %}
    <div class="offCanvas__minicart">
      <div class="minicart__header ">
        <div class="minicart__header--top d-flex justify-content-between align-items-center">
          <h3 class="minicart__title">Shopping Cart</h3>
          <button class="minicart__close--btn" aria-label="minicart close btn" data-offcanvas>
            <i class="minicart__close--icon bi bi-cart"></i>
          </button>
        </div>
        <p class="minicart__header--desc">{{ g.config['TITLE'] }}</p>
      </div>
      {% for cart_product in current_user.cart.cart_products.all() %}
        {% with product=cart_product.product %}
          <div class="minicart__product" id="minicartProduct{{ product.id }}">
            <div class="minicart__product--items d-flex">
              <div class="minicart__thumb">
                <a href="{{ url_for('main.product', product_id=product.id) }}">
                  <img src="{{ url_for('static', filename=product.images.first().image_url) }}"
                    alt="{{ product.name }}">
                </a>
              </div>
              <div class="minicart__text">
                <h4 class="minicart__subtitle">
                  <a href="{{ url_for('main.product', product_id=product.id) }}">{{ product.name }}</a>
                </h4>
                {% for variation in product.variations.all() %}
                  <span class="color__variant">
                    <b>{{ variation.name }}:</b> {{ cart_product.value.name }}
                  </span>
                {% endfor %}
                <div class="minicart__price">
                  <span class="current__price">{{ cart_product.total_price }} €</span>
                  {% if cart_product.total_sale_price %}
                    <span class="old__price">{{ product.sale_price * cart_product.quantity }} €</span>
                  {% endif %}
                </div>
                <div class="minicart__text--footer d-flex align-items-center">
                  <div class="quantity__box minicart__quantity">
                    <button class="quantity__value decrease"
                      onclick="decreaseQuantity({{ product.id }}, {{ cart_product.quantity }})">-
                    </button>
                      <input readonly class="quantity__number" value="{{ cart_product.quantity }}"/>
                    <button class="quantity__value increase"
                      onclick="increaseQuantity({{ product.id }}, {{ cart_product.quantity }})">+
                    </button>
                  </div>
                  <button class="minicart__product--remove remove__button" id="removeButton"
                    onclick="removeProduct({{ product.id }})">Remove</button>
                </div>
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
      <div class="minicart__amount">
        <div class="minicart__amount_list d-flex justify-content-between">
          <span>Total:</span>
          <span><b id="offsetCartTotal">{{ current_user.cart.total_price }} €</b></span>
        </div>
      </div>
      <div class="minicart__button d-flex justify-content-center">
        <a class="btn minicart__button--link" href="{{ url_for('user.cart') }}">View cart</a>
        <a class="btn minicart__button--link" href="{{ url_for('user.checkout') }}">Checkout</a>
      </div>
    </div>
  {% endif %}
  <!-- End offCanvas minicart -->

  <!-- Start serch box area -->
  {% if g.search_form %}
    <div class="predictive__search--box ">
      <div class="predictive__search--box__inner">
        <h2 class="predictive__search--title">Search Products</h2>
        <form class="predictive__search--form" action="{{ url_for('main.product_search') }}">
          <label>
            {{ g.search_form.q(size=20,
              class='header__search--input',
              placeholder=g.search_form.q.label.text) }}
          </label>
          <button class="predictive__search--button">
            <i class="product__items--action__btn--svg bi bi-search"></i>
          </button>
        </form>
      </div>
      <button class="predictive__search--close__btn" aria-label="search close" data-offcanvas>
        <i class="predictive__search--close__icon bi bi-x">
        </i>
      </button>
    </div>
  {% endif %}
</header>
