{% if banners.all() %}
  <section class="hero__slider--section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="hero__slider--inner hero__slider--nav__activation swiper mb-30">
            <div class="hero__slider--wrapper swiper-wrapper">
              {% for banner in banners.filter_by(position=0).all() %}
                <div class="swiper-slide">
                  <div class="hero__slider--items slider__--bg"
                    style="background: url({{ url_for('static', filename=banner.image_url) }})">
                    <div class="slider__content">
                      <a href={{ banner.url }}>
                      <span class="slider__content--subtitle text-white">{{ banner.name }}</span>
                      <h2 class="slider__content--maintitle text-white h1">{{ banner.body }}</h2>
                        <h5 class="slider__content--subtitle2 text-white">{{ banner.button_text }}</h5>
                      </a>
                    </div>
                  </div>
                  <div class="hero__slider--navigation swiper-button-next">
                    <i class="bi bi-chevron-right svg__icon" id="right-arrow-angle"></i>
                  </div>
                  <div class="hero__slider--navigation swiper-button-prev">
                    <i class="bi bi-chevron-left svg__icon" id="right-arrow-angle"></i>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% with banner = banners.filter_by(position=1).first() %}
          {% if banner %}
            <div class="col-lg-4 col-md-4">
              <div class="slider__sidebar--banner position__relative mb-30">
                <a class="sidebar__banner--thumbnail display-block" href="{{ url_for(banner.url) }}">
                  <img class="sidebar__banner--thumbnail__img display-block" alt="banner"
                    src="{{ url_for('static', filename=banner.image_url) }}">
                  <div class="sidebar__banner--content">
                    <h2 class="sidebar__banner--content__title text-white">{{ banner.name }}</h2>
                    <p class="sidebar__banner--content__desc text-white">{{ banner.body }}</p>
                    <span class="sidebar__banner--content__btn text-white">{{ banner.button_text }}
                      <i class="banner__two--content__btn--arrow__icon bi bi-arrow-right"></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
          {% endif %}
        {% endwith %}
    </div>
  </section>
  <section class="banner__section section--padding pt-0">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1 mb--n30">
        <div class="col mb-30">
          {% with banner = banners.filter_by(position=2).first() %}
            {% if banner %}
              <div class="banner__items position__relative">
                <a class="banner__items--thumbnail display-block" href="{{ url_for(banner.url) }}">
                  <img class="banner__items--thumbnail__img banner__img--max__height display-block" alt="banner"
                    src="{{ url_for('static', filename=banner.image_url) }}">
                  <div class="banner__items--content">
                    <h2 class="banner__items--content__title text-white">{{ banner.body }}</h2>
                    <span class="banner__items--content__btn text-white">{{ banner.button_text }}
                      <i class="banner__two--content__btn--arrow__icon bi bi-arrow-right"></i>
                    </span>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <div class="col mb-30">
          {% with banner = banners.filter_by(position=3).first() %}
            {% if banner %}
              <div class="banner__items position__relative">
                <a class="banner__items--thumbnail display-block" href="{{ url_for(banner.url) }}">
                  <img class="banner__items--thumbnail__img banner__img--max__height display-block" alt="banner"
                    src="{{ url_for('static', filename=banner.image_url) }}">
                  <div class="banner__items--content">
                    <h2 class="banner__items--content__title text-white">{{ banner.body }}</h2>
                    <span class="banner__items--content__btn text-white">{{ banner.button_text }}
                      <i class="banner__two--content__btn--arrow__icon bi bi-arrow-right"></i>
                    </span>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
