<section class="contact__section section--padding">
  <div class="container">
    <div class="section__heading text-center mb-40">
      <span class="section__heading--subtitle">{{ 'some text description' }}</span>
      <h2 class="section__heading--maintitle">{{ screen.upper() }}</h2>
    </div>
    <div class="main__contact--area position__relative">
      <div class="contact__form">
        <h3 class="contact__form--title mb-40">Color Palet</h3>
        <form class="contact__form--inner" action="{{ url_for('admin.colors') }}" method="POST">
          {{ colors_form.csrf_token }}
          <div class="row">
            {% for key in colors_form.__dict__ %}
              {% if 'color' in key %}
                <div class="col-lg-6 col-md-6">
                  <div class="contact__form--list mb-20">
                    <label class="contact__form--label" for="{{ key }}">{{ key }}</label>
                    <input class="contact__form--input" name="firstname" id="{{ key }}"
                      placeholder="{{ g.config[key.upper()] }}" type="text"
                      value="{{ g.config[key.upper()] }}"
                      style="background-color: {{ g.config[key.upper()] }};">
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <button class="btn-dark" type="submit"><span>Submit Now</span></button>  
        </form>
      </div>
    </div>
  </div>
</section>