<div class="container text-center">
  <div class="row">
    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="collapse"
      data-bs-target="#colorPaletteForm" aria-controls="colorPaletteForm">
      <h3>General</h3>
    </button>
    <div class="col-12">
      <div class="collapse" id="colorPaletteForm">
        <form class="mt-3" action="{{ url_for('admin.general') }}" method="POST">
          {{ general_form.csrf_token }}
          <div class="row">
            {% for key in general_form.__dict__ %}
              {% if key in general_form.items %}
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="{{ key }}">{{ key }}</label>
                    <input name="{{ key }}" id="{{ key }}" type="text"
                      placeholder="{{ g.config[key.upper()] }}"
                      value="{{ g.config[key.upper()] }}"
                      class="form-control"
                      style="background-color: {{ g.config[key.upper()] }};">
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-dark mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
