html, body {
  margin: 0;
  font-size: 62.5%;
  padding: 0;
}

body {
  font-family: var(--font-lato);
  font-size: var(--body-font-size, 15px);
  font-weight: var(--body-font-weight);
  font-style: normal;
  line-height: var(--body-line-height, 27px);
  position: relative;
  visibility: visible;
  overflow-x: hidden;
  color: var(--black-color);
  background-color: var(--white-color);
  @media only screen and (max-width: 991px) {
    font-size: 14px;
    line-height: 25px;
  }
}

h1, .h1 {
  font-size: 2.6rem;
  line-height: 3.5rem;
  font-weight: var(--headings-weight);
  font-family: var(--font-lora);
  @media only screen and (min-width: 480px) {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
  @media only screen and (min-width: 576px) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  @media only screen and (min-width: 768px) {
    font-size: 3.5rem;
    line-height: 4.2rem;
  }
  @media only screen and (min-width: 992px) {
    font-size: 4rem;
    line-height: 5.2rem;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 4.2rem;
    line-height: 5.2rem;
  }
  @media only screen and (min-width: 1366px) {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
  @media only screen and (min-width: 1600px) {
    font-size: 5rem;
    line-height: 6rem;
  }
}

h2, .h2 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 500;
  font-family: var(--font-lora);
  @media only screen and (min-width: 768px) {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  @media only screen and (min-width: 992px) {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }
  @media only screen and (min-width: 1600px) {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}

h3, .h3 {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 500;
  @media only screen and (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  @media only screen and (min-width: 992px) {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  @media only screen and (min-width: 1600px) {
    font-size: 2.3rem;
    line-height: 3rem;
  }
}

h4, .h4 {
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-weight: 400;
  @media only screen and (min-width: 480px) {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  @media only screen and (min-width: 768px) {
    font-size: 1.7rem;
    line-height: 3rem;
  }

}

h5, .h5 {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  @media only screen and (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

h6, .h6 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  @media only screen and (min-width: 768px) {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

p, .p {
  margin-top: 0;
  margin-bottom: 1.8rem;
  @media only screen and (min-width: 768px) {
    line-height: 2.5rem;
  }
}
p:last-child {
  margin-bottom: 0;
}

a, button {
  display: inline-block;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
  color: inherit;
}

a, button, img, input, textarea {
  transition: var(--transition);
}

*:focus {
  outline: none;
  box-shadow: none;
}

a:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

button, input[type=submit] {
  cursor: pointer;
  font-family: var(--font-lato);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}

img {
  max-width: 100%;
  height: auto;

}

span{
  display: inline-block;
  transition: var(--transition);
}

label{
  transition: var(--transition);
  display: block;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

ul {
  margin: 0;
  padding: 0;
}

ul:last-child {
  margin-bottom: 0;
}

li{
  list-style: none;
  line-height: 1;
}

.body__background{
  background: var(----gray-color);
}

.bg__black {
  background: var(--black-color);
}

.bg__primary{
  background: var(--secondary-color);
}

.bg__primary2{
  background: var(--secondary-color_2);
}

.bg__secondary{
  background: var(--theme-color);
}

.product__bg{
  background: var(--gray-color_2);
}

.text__primary{
  color: var(--secondary-color);
}

.text__secondary{
  color: var(--theme-color);
}

.position__relative{
  position: relative;
}

.border-bottom{
  border-bottom: 1px solid var(--border-color_2);
}

.border-0{
  border: none;

}

.border-radius-5{
  border-radius: 0.5rem;
}

.border-radius-10{
  border-radius: 1rem;
}

.tab_content {
  display: block;
}

.tab_pane {
  display: none;
  transition: var(--transition);
}

.tab_pane:not(.show) {
  opacity: 0;
}

.tab_pane.show {
  opacity: 1;
}

.tab_pane.active {
  display: block;
}

body.overlay__active, .mobile_menu_open,.predictive__search--box_active, .offCanvas__minicart_active,.offcanvas__filter--sidebar_active{
  overflow-y: hidden;
}

body.overlay__active::before,.predictive__search--box_active::before, .mobile_menu_open::before,.offCanvas__minicart_active::before,.offcanvas__filter--sidebar_active::before{
  position: absolute;
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.5;
  cursor: crosshair;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)    ;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.animate-fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}

.section--padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @media only screen and (min-width: 768px) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  @media only screen and (min-width: 992px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  @media only screen and (min-width: 1200px) {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
  @media only screen and (min-width: 1600px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

}

.section--margin {
  margin-top: 6rem;
  margin-bottom: 6rem;
  @media only screen and (min-width: 768px) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  @media only screen and (min-width: 992px) {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
  @media only screen and (min-width: 1200px) {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

}

#scroll__top {
  position: fixed;
  bottom: 70px;
  right: 25px;
  z-index: 99;
  outline: none;
  background-color:var(--theme-color);
  color: var(--white-color);
  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  line-height: 1;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background: var(--secondary-color);
  }
}
#scroll__top.active{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
#scroll__top svg {
  width: 25px;
  line-height: 1;
}
