<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ g.config['TITLE'] }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-labelledby="dropdownMenuButton1">
      {% for key, value in g.config['ADMIN_NAVIGATION'].items() %}
        <li class="nav-item">
          <a class="{{ 'nav-link active' if screen == key.lower() else 'nav-link text-white' }}"
            href="{{ url_for(value, screen=key.lower()) }}">
            {{ key }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
	</div>
</nav>
