{% extends "base.html" %}
{% block body %}

  {% include 'main/navigator.html' %}

  <main class="main__content_wrapper">
    <div class="container">
      <div class="pagination__area bg__gray--color">
        <nav class="pagination justify-content-center" aria-label>
          <ul class="pagination__wrapper d-flex align-items-center justify-content-center">
            <li class="pagination__list">
              <a href="{{ url_for('main.products', page=page-1) }}" class="pagination__item--arrow  link ">
                <i class="bi bi-chevron-left"></i>
                <span class="visually-hidden">page left arrow</span>
              </a>
            <li>
            {% for i in range(pages_count) %}
              {% if i + 1 == page %}
                <li class="pagination__list">
                  <span class="pagination__item pagination__item--current">
                    {{ i + 1 }}
                  </span>
                </li>
              {% else %}
                <li class="pagination__list">
                  <a href="{{ url_for('main.products', page=i+1) }}" class="pagination__item link">{{ i + 1 }}</a>
                </li>
              {% endif %}
            {% endfor %}
            <li class="pagination__list">
              <a href="{{ url_for('main.products', page=page+1) }}" class="pagination__item--arrow  link ">
                <i class="bi bi-chevron-right"></i>
                <span class="visually-hidden">page right arrow</span>
              </a>
            <li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-8 col-lg-8">
        <div class="shop__product--wrapper">
          <div id="product_grid" class="tab_pane active show">
            <div class="product__section--inner product__section--style__inner">
              <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-sm-3 row-cols-2 mb--n30">
                {% for product in products.all() %}
                  <div class="col mb-30">
                    <div class="product__items product__items">
                      <div class="product__items--thumbnail">
                        <a class="product__items--link" href="product-details.html">
                          <img class="product__items--img product__primary--img" src="{{ url_for('static', filename=product.images.first().image_url) }}" alt="product-img">
                        </a>
                        {% if product.sale_price %}
                          <div class="product__badge">
                            <span class="product__badge--items sale">Sale</span>
                          </div>
                        {% endif %}
                        <ul class="product__items--action">
                          {% if current_user.is_authenticated %}
                            <li class="product__items--action__list">
                              <a class="product__items--action__btn" href="{{ url_for('user.add_wishlist', product_id=product.id) }}">
                                <i class="bi bi-heart product__items--action__btn--svg"></i>
                                <span class="visually-hidden">Wishlist</span>
                              </a>
                            </li>
                          {% endif %}
                          <li class="product__items--action__list">
                            <a class="product__items--action__btn" href={{ url_for('main.product', product_id=product.id) }}>
                              <i class="bi bi-search product__items--action__btn--svg"></i>
                              <span class="visually-hidden">Quick View</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="product__items--content product__items2--content text-center">
                        {% if current_user.is_authenticated %}
                          <a class="add__to--cart__btn" href="{{ url_for('user.add_cart', product_id=product.id, quantity=1) }}">
                            + Add to cart
                          </a>
                        {% endif %}
                          <h3 class="product__i{{ product.name }}tems--content__title h4">
                            <a href="product-details.html">
                              {{ product.name }}
                            </a>
                          </h3>
                        <div class="product__items--price">
                          <span class="current__price">{{ product.price }} €</span>
                          {% if product.sale_price %}
                            <span class="old__price">{{ product.sale_price }} €</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="pagination__area bg__gray--color">
            <nav class="pagination justify-content-center">
              <ul class="pagination__wrapper d-flex align-items-center justify-content-center">
                <li class="pagination__list">
                  <a href="{{ url_for('main.products', page=page-1) }}" class="pagination__item--arrow  link ">
                    <i class="bi bi-chevron-left"></i>
                    <span class="visually-hidden">page left arrow</span>
                  </a>
                <li>
                {% for i in range(pages_count) %}
                  {% if i + 1 == page %}
                    <li class="pagination__list">
                      <span class="pagination__item pagination__item--current">
                        {{ i + 1 }}
                      </span>
                    </li>
                  {% else %}
                    <li class="pagination__list">
                      <a href="{{ url_for('main.products', page=i+1) }}" class="pagination__item link">{{ i + 1 }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                <li class="pagination__list">
                  <a href="{{ url_for('main.products', page=page+1) }}" class="pagination__item--arrow  link ">
                    <i class="bi bi-chevron-right"></i>
                    <span class="visually-hidden">page right arrow</span>
                  </a>
                <li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

  {% include 'main/footer.html' %}

  </main>

{% endblock %}
